// ------------------------------------------------
// Login Variables
// ------------------------------------------------

$color__primary:		 #00A0D2;
$color__primary--red:	 #DC3235;
$color__text:			 #555D66;
$color__body:			 #DDD;
$login__logo-width:      200px;
$login__logo-height:     100px;
$login__font-color:      #2D2E2f;
$login__border-radius:   0;
$login__background:      $color__body;
$login__form-background: #fff;
$login__form-border:     1px solid #DDD;
$login__nav-link-color:  $color__text;
$login__nav-background:  #f9f9f9;
$login__nav-border:      1px solid #DDD;
$login__width:           380px;
$padding: 				 20px;
